## List exercise

In [1]:
## question 1
a =[2,4,-6,5,7,-9]
sum_number = sum(a)
print("the sum of its all item are :",sum_number)

the sum of its all item are : 3

In [3]:
## question 2
a= [2,7,4,5,6]
product = 1
for num in a:
    product*= num
print('the multiple of the item are :',product)

the multiple of the item are : 1680

In [4]:
## question 3
a= [23,10,76,45,32,12,98]
max_value = max(a)
print("the ,maximum value of the item is :",max_value)

the ,maximum value of the item is : 98

In [5]:
## question 4
a=[34,65,43,221,45,67,87,21,32]
min_value =min(a)
print("the minimum value of item is :",min_value)

the minimum value of item is : 21

In [8]:
## question 5
value = ["aba","hello","level","elle"]
count = 0
for a in value:
    if len(a)>=2 and a[0]==a[-1]:
        count+= 1
print(" the no.of strings where first and last characters are the same :",count)

 the no.of strings where first and last characters are the same : 3

In [10]:
## question 6
a =[1,3,5,2,3,6,8,5,6]
b = set(a)
print(b)

{1, 2, 3, 5, 6, 8}

In [11]:
## question 7
lyst =[]
if len(lyst)==0:
    print(" the list is empty")
else:
    print("the list is  not empty")

 the list is empty

In [12]:
## question 8
a =[2,5,6,3,4]
b= a.copy()
print(b)

[2, 5, 6, 3, 4]

In [16]:
## question 9
words = ["apple","banana","mango","toy","orange"]
n=4
longer_word = [word for word in words if len(word)>n]
print(longer_word)

['apple', 'banana', 'mango', 'orange']

In [ ]:
## question 10

In [23]:
a = input("enter the value :").split(',')
b= input("enter the value :").split(',')
lyst1 = list(a)
lyst2= list(b)
set1 = set(lyst1)
set2 = set(lyst2)
common = set1.intersection(set2)
print(common)

enter the value :2,5,7,4
enter the value :2,9,7,3
{'7', '2'}

In [29]:
## question 11
lyst = ["cat","dog","rat","mat","sea","soon","sunset"]

In [30]:
## question 12
number = [23,24,56,33,41,47,58,26,27]
odd_value = [num for num in number if num %2 != 0]
print("the filtered number after removing the even numbers are :",odd_value)

the filtered number after removing the even numbers are : [23, 33, 41, 47, 27]

In [41]:
## question 13
import random

lyst = [ "boy","cat","rat"]
random.shuffle(lyst)
print(lyst)

['cat', 'rat', 'boy']

In [43]:
## question 14
sqr_list =[i **2 for i in range(1,31)]
first5 = sqr_list[:5]
last5 = sqr_list[-5:]
print("first five element:",first5)
print("last five element:",last5)

first five element: [1, 4, 9, 16, 25]
last five element: [676, 729, 784, 841, 900]

In [45]:
## questiion 15
import itertools
lyst = [1,4,5]
permutation = list(itertools.permutations(lyst))
print(permutation)

[(1, 4, 5), (1, 5, 4), (4, 1, 5), (4, 5, 1), (5, 1, 4), (5, 4, 1)]

In [46]:
## question 16
lyst = ['a','k','a','n','k','s','h','a']
string = ''.join(lyst)
print(string)

akanksha

In [47]:
## question 17
lyst =[2,5,6,7,8,9,12,34,5]
# for finding the index value of 7
index = lyst.index(7)
print(index)

3

In [51]:
## question 18
lyst = [[23,34],[29,43],[25,67]]
flat_list = list(itertools.chain(*lyst))
print(flat_list)

[23, 34, 29, 43, 25, 67]

In [52]:
## question 19
lyst = [2,4,6,9,3]
lyst1 = ["ash","yash","shyam"]
lyst.extend(lyst1)
print(lyst)

[2, 4, 6, 9, 3, 'ash', 'yash', 'shyam']

In [56]:
## question 20
lyst = ["taj","ganga","vanarasi","kashi","agra"]
print(random.choice(lyst))

ganga

In [57]:
## question 21

a = [3,5,7,9,11]
b = [5,3,7,9,11]
c = [5,4,2,1,8]

print(a==b)
print(a==c)

False
False

In [58]:
## question 22
lyst = [3,6,2,7,9,5]
sorted_no = sorted(lyst)
second_lowest = sorted_no[1]
print("second smallest number is :",second_lowest)

second smallest number is : 3

In [61]:
## question 23
number = [32,45,78,23]
number.sort(reverse=True)
sec_large = number[1]
print(sec_large)

45

In [63]:
## question 24
lyst = [2,4,6,5,2,1,0,1,9,2,5,7]
unique = set(lyst)
print("the unique value of the items are :", unique)

the unique value of the items are : {0, 1, 2, 4, 5, 6, 7, 9}

In [66]:
## question 25

number = [1,2,5,4,3,2,5,7,4,7,6,5,2,3,1,4,6,8,9,8,]

In [2]:
## question 26
lyst = ['T','J']
n = 10 
final_lyst = [item +str(i) for i in range(1,n+1) for item in lyst]
print(final_lyst)

['T1', 'J1', 'T2', 'J2', 'T3', 'J3', 'T4', 'J4', 'T5', 'J5', 'T6', 'J6', 'T7', 'J7', 'T8', 'J8', 'T9', 'J9', 'T10', 'J10']

In [3]:
## question 27
x = 20
s = "tutor joes"
unique_id_no = hex(id(x))
unique_id_str = hex(id(s))
print(unique_id_no)
print(unique_id_str)

0x7ffb720f9588
0x1e305698570

In [5]:
## question 28
a = [4,7,6,2,3,9]
b = [4,7,12,45]
A = set(a)
B = set(b)
print(A.intersection(B))

{4, 7}

In [12]:
## question 29
lyst = ['cat','dog','rat','fox','lion']
for word in lyst:
    first_char = word[0].upper()
    if not locals().get("prev_char") or first_char != prev_char:
        print(first_char)
        print(" ", word)
        prev_chat = first_char

C
  cat
D
  dog
R
  rat
F
  fox
L
  lion

In [22]:
## question 30
digit = [1,2,3,4,5,6,7,8,9,10]
odd_value =[num for num in digit if num % 2 != 0]
print("odd value is :",odd_value)

odd value is : [1, 3, 5, 7, 9]

In [23]:
## question 31
value = [10,20,30,20,40,50,60,70]
unique = set(value)
count_unique = len(unique)
print("the unique count of values is :",count_unique)

the unique count of values is : 7

In [36]:
## question 32
value = [2,4,5,3,4,7,9,8,7,8]
unique = list(set(value))
product = 1
for num in unique:
    product*= num
print(product)

60480

In [ ]:
## question 33

In [ ]:
## question 34

In [37]:
## ques 37
import itertools

value = [2,3,4]
combination = list(itertools.permutations(value,3))
for a in combination:
    print(a)

(2, 3, 4)
(2, 4, 3)
(3, 2, 4)
(3, 4, 2)
(4, 2, 3)
(4, 3, 2)

In [38]:
## ques 38 
from itertools import product
data = [['tutor'],['software','computer'],['solution','education']]
combos = list(product(*data))
print(combos)

[('tutor', 'software', 'solution'), ('tutor', 'software', 'education'), ('tutor', 'computer', 'solution'), ('tutor', 'computer', 'education')]

In [39]:
## ques 39
from itertools import product
data1 = ['A','B','C']
data2 = [1,2,3]
combos = list(product(data1,data2))
print(combos)

[('A', 1), ('A', 2), ('A', 3), ('B', 1), ('B', 2), ('B', 3), ('C', 1), ('C', 2), ('C', 3)]

In [43]:
## ques 40
data = [1,3,4,5,6,1]
unique = []
for item in data:
    if item not in unique:
        unique.append(item)
print(unique)

[1, 3, 4, 5, 6]