# #TASK 1

In [2]:
##QUESTION 1
basic_salary = float(input("Enter the Ramesh's basic salary -"))
dearness_allowance = 0.4* basic_salary
house_rent_allowance = 0.2*basic_salary
gross_salary = basic_salary + dearness_allowance + house_rent_allowance
print("Ramesh's gross salary is: ",gross_salary)

Enter the Ramesh's basic salary -30000
Ramesh's gross salary is:  48000.0

In [3]:
##QUESTION 2
distance_km = float(input("Enter the distance between two cities :"))
meters = distance_km*1000
feet = distance_km*3280.84
inches = distance_km*39370.1
centimeter = distance_km*100000
print("distance in meters: ",meters)
print("distance in feet: ",feet)
print("distance in inches: ",inches)
print("distance in centimeter: ",centimeter)

Enter the distance between two cities :50
distance in meters:  50000.0
distance in feet:  164042.0
distance in inches:  1968505.0
distance in centimeter:  5000000.0

In [4]:
##QUESTION 3
Subject1 = float(input("Enter the Marks obtained in subject1 : "))
Subject2 = float(input("Enter the Marks obtained in subject2 : "))
Subject3 = float(input("Enter the Marks obtained in subject3 : "))
Subject4 = float(input("Enter the Marks obtained in subject4 : "))
Subject5 = float(input("Enter the Marks obtained in subject5 : "))

total_marks = Subject1+Subject2+Subject3+Subject4+Subject5
max_marks_per_subject = 100
percentage = (total_marks/(5*max_marks_per_subject))*100
print("Aggregate marks obtained :",total_marks,"out of 500")
print("percentage scored :",percentage)

Enter the Marks obtained in subject1 : 70
Enter the Marks obtained in subject2 : 50
Enter the Marks obtained in subject3 : 60
Enter the Marks obtained in subject4 : 80
Enter the Marks obtained in subject5 : 85
Aggregate marks obtained : 345.0 out of 500
percentage scored : 69.0

In [8]:
##QUESTION 4
## Area and peremeter of rectangle
length =int(input("Enter the value of Length : "))
breadth = int(input("Enter the value of the breadth : "))
area = length*breadth
perimeter = 2*(length+breadth)
print("The Area of a Rectangle is :",area)
print("The Perimeter of a Rectangle is :",perimeter)

Enter the value of Length : 5
Enter the value of the breadth : 2
The Area of a Rectangle is : 10
The Perimeter of a Rectangle is : 14

In [17]:
##area of a circle and circumference of a circle
radius=float(input("Enter the vlue of a Radius : ",))
area = 3.14*radius*radius
circum = 2*3.14*radius
print("The Area of a Circle is :",area)
print(f"the circumference of circle is:{circum:2f}")

Enter the vlue of a Radius : 5
The Area of a Circle is : 78.5
the circumference of circle is:31.400000

In [15]:
##QUESTION 5
temperature_in_fahrenheit = float(input("Enter the Temperature of your City :"))

celcius = (temperature_in_fahrenheit-32)*5/9
print(f"Temperature of your city is: {celcius:.2f} degree celsius")

Enter the Temperature of your City :89
Temperature of your city is: 31.67 degree celsius

In [18]:
##QUESTION 6
C =float(input("Enter the value of C : "))
D =float(input("Enter the value of D: "))
change_c = D
change_d = C
print("The value of C :",change_c)
print("The value of D :",change_d)

Enter the value of C : 10
Enter the value of D: 20
The value of C : 20.0
The value of D : 10.0

In [25]:
## QUESTION 7

#number = int(input("Enter the five digit value : "))
#sum_digits = sum(map(int,number))
#print("the sum of the five digits numbers are :",sum_digits)

In [3]:
## QUESTION 8
Number = (input("Enter the value of 5 digits :"))
if len(Number) ==5 and Number.isdigit():
    reverse_no = Number[::-1]
    print("the reversed value is: ",reverse_no)

Enter the value of 5 digits :46577
the reversed value is:  77564

In [8]:
## question 9
number = input("Enter the 4 digit value : ")
if len(number) == 4 and number.isdigit():
    number =int(number)
    f_digit = number // 1000
    l_digit = number % 10
    sum_of_digits = f_digit+l_digit 
    print("the sum of first and last digit is :",sum_of_digits)

Enter the 4 digit value : 4567
the sum of first and last digit is : 11

In [9]:
## question 10 
total_men = 41600
total_women = 38400
literate_men = (35*80000)/100
literate_women = (13*80000)/100
illiterate_men = 41600 - literate_men
illiterate_women = 80000-41600-literate_women
total_illiterate_men_women = illiterate_men +illiterate_women
print("The Total no. of illiterate men and women are :",total_illiterate_men_women)

The Total no. of illiterate men and women are : 41600.0

In [11]:
## question 12
total_price = float(input("Enter the total selling price of the 15 items :"))
total_profit = float(input("Enter the total profit earned :"))
cost_per_item = (total_price-total_profit)/ 15
print("the cost price of one item is :",cost_per_item)

Enter the total selling price of the 15 items :50000
Enter the total profit earned :70000
the cost price of one item is : -1333.3333333333333

In [12]:
##question 13
number = input("enter a five digit number :")
if len(number)==5 and number.isdigit():
    new_number = "".join(str(int(digit)+1) for digit in number)
    print("the new number is :",new_number)

enter a five digit number :45673
the new number is : 56784

# #Task 2

In [17]:
## question 1
quantity = int(input("enter the quantity purchased :"))
price_per_item = float(input("enter the price per item :"))
total_price = price_per_item*quantity
if quantity >10:
    discount = 0.10*total_price
    total_price = total_price-discount
    print("the total expence is :",total_price)
else:
    print("the quantity is not applicable for discount")

enter the quantity purchased :14
enter the price per item :365
the total expence is : 4599.0

In [3]:
## question 2
current_year = float(input("Enter the current year : "))
joining_year = float(input("enter the joning year : "))
year_of_service = current_year - joining_year
if year_of_service >3:
    print("the employee is eligible for the bonus 2500")
else:
    print("the employee is not eligible for the bonus")

Enter the current year : 2023
enter the joning year : 2022
the employee is not eligible for the bonus

In [8]:
## question 3
basic_salary= float(input("enter the basic salary : "))
if basic_salary < 1500:
    hra = 0.1*basic_salary
    da = 0.9*basic_salary
    gross_salary = basic_salary+hra+da
    print("the gross salary of the employee is :",gross_salary)
elif basic_salary>=1500:
    hra = 500
    da =0.98*basic_salary
    gross_salary= basic_salary+hra+da
    print("the gross salary of the employee is :",gross_salary)

enter the basic salary : 2500
the gross salary of the employee is : 5450.0

In [11]:
## questoin 4
sub1=float(input("enter the marks of sub1 :"))
sub2=float(input("enter the marks of sub2 :"))
sub3=float(input("enter the marks of sub3 :"))
sub4=float(input("enter the marks of sub4 :"))
sub5=float(input("enter the marks of sub5 :"))
obt_mark =sub1+sub2+sub3+sub4+sub5
total_mark = 500
percent = (obt_mark/total_mark)*100
if percent >= 60:
    print("First Division")
elif 50 <= percent < 60:
    print("second division")
elif 40 <= percent <50:
    print("third division")
else:
    print("fail")

enter the marks of sub1 :87
enter the marks of sub2 :78
enter the marks of sub3 :67
enter the marks of sub4 :59
enter the marks of sub5 :78
First Division

In [13]:
## question 5
# Input driver information from the user
marital_status = input("Is the driver married? (yes or no): ").lower()
gender = input("Enter the gender of the driver (male or female): ").lower()
age = int(input("Enter the age of the driver: "))

# Check if the driver is eligible for insurance
eligible = marital_status == "yes" or (gender == "male" and age > 30) or (gender == "female" and age > 25)

# Display the eligibility status
if eligible:
    print("The driver is eligible for insurance.")
else:
    print("The driver is not eligible for insurance.")

Is the driver married? (yes or no): no
Enter the gender of the driver (male or female): male
Enter the age of the driver: 23
The driver is not eligible for insurance.

In [17]:
##question 6
year_of_service = float(input("enter the year of service :"))
gender = (input("enter the gender (male/female) :"))
qualification = input("enter the qualification (post-graduate/graduate):")
base_salary = 0
if gender =="male":
    if qualification=="post-graduate":
        base_salary== 15000 if year_of_service >= 10 else 10000
    else:
        base_salary == 10000 if year_of_service>= 10 else 7000
elif gender =="female":
    if qualification=="post-graduate":
        base_salary==12000 if year_of_service >=10 else 10000
    else:
        base_salary ==9000 if year_of_service>=10 else 6000
print("the total salary is :",base_salary)

enter the year of service :13
enter the gender (male/female) :male
enter the qualification (post-graduate/graduate):graduate
the total salary is : 0

In [20]:
## question 7
cp = float(input("enter the cost price :"))
sp = float(input("enter the selling price :"))
profit = sp-cp
loss = cp-sp
if sp>cp:
    print("the seller has made a profit ")
else:
    print("the seller has made a loss")

enter the cost price :4500
enter the selling price :6000
the seller has made a profit

In [22]:
## question 8
number = int(input("enter the value :"))
if number%2==0:
    print("the number is an even ")
else:
    print("the number is odd")

enter the value :6
the number is an even

In [32]:
## question 9
number = input("enter the five digit value :")
if len(number)==5 and number.isdigit():
    r_number = int(str(number[::-1]))
    print("the reversed number is :",r_number)

enter the five digit value :76453
the reversed number is : 35467

In [37]:
## question 10
ram = int(input("enter the ram age:"))
shyam = int(input("enter the  shyam age :"))
ajay = int(input("enter the ajay age :"))

young = min(ram,shyam,ajay)
if young == ram:
    youngest_name ="ram"
elif young == shyam:
    youngest_name ="shyam"
else:
    youngest_name ="ajay"
print("the youngest person is :",youngest_name)

enter the ram age:34
enter the  shyam age :32
enter the ajay age :54
the youngest person is : shyam

In [40]:
## question 11
a1 = float(input("enter the angle 1 value :"))
a2 = float(input("enter the angle 2 value :"))
a3 = float(input("enter the angle 3 value :"))
triangle = a1+a2+a3
if triangle == 180:
    print("it is a triangle")
else:
    print("it is not a triangle")

enter the angle 1 value :34
enter the angle 2 value :65
enter the angle 3 value :32
it is not a triangle

In [41]:
## question 12
number = float(input("enter the value :"))
absolute_value = abs(number)
print("the absolute value is :",absolute_value)

enter the value :-7
the absolute value is : 7.0

In [43]:
## question 13
L = int(input("enter the value of the length :"))
b = int(input("enter the value of the Breadth :"))
area = L*b
peri = 2*(L+b)
if area>peri:
    print("the area of a rectangle is greater than perimeter")
else:
    print("the perimeter is greater than than the area")

enter the value of the length :4
enter the value of the Breadth :6
the area of a rectangle is greater than perimeter

In [45]:
# Input a year from the user
year = int(input("Enter a year: "))
is_leap_year = (year % 4 == 0) and (year % 100 != 0) or (year % 400 == 0)
if is_leap_year:
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year: 2004
2004 is a leap year.

# Task 3

In [2]:
## question 1
number = int(input("enter the value"))
print(f"the factor of the {number} are :")
for i in range(1,number+1):
    if number%i ==0:
        print(i)

enter the value10
the factor of the 10 are :
1
2
5
10

In [ ]:
## question 3