# Tuple exercise

In [3]:
## question 1 
Tuple = ()
print(type(Tuple))

<class 'tuple'>

In [6]:
## question 2
data = (10,5)
print(data)
print(type(data))

(10, 5)
<class 'tuple'>

In [8]:
## question 3
data = ('tiger',10,3.14,'T')
print(data)
print(type(data))

('tiger', 10, 3.14, 'T')
<class 'tuple'>

In [9]:
## question 4
my_data = (3,4,5)
a,b,c = my_data
print("a=",a,b,c)
print(my_data)

a= 3 4 5
(3, 4, 5)

In [13]:
## question 5
Tuple = (10,30,40,50,60)
new_data = 20
new = Tuple + (new_data,)
print(new)

(10, 30, 40, 50, 60, 20)

In [15]:
## question 6
my_data = ('T','a','j',' ','M','a','h','a','l')
final_string = ''.join(my_data)
print(final_string)

Taj Mahal

In [18]:
## question 7
number = [2,4,5,6,2,45,21,34,65,44,34,37,45]
fourth_no = number[4]
last_fourth = number[-4]
print(fourth_no)
print(last_fourth)

2
44

In [22]:
## question 8
my_data = ('today',23,45,7,6,'j')
data = tuple(my_data)
print(data)

('today', 23, 45, 7, 6, 'j')

In [24]:
## question 9
my_data = (2,3,5,6,7,8,9,2,2,3)
item1 = 2
count = 0

for item in my_data:
    if item== item1:
        count += 1
print("item :",item1)
print("repeated item in group :",count)

item : 2
repeated item in group : 3

In [36]:
## question 10
data = (10,20,30,"t")
print(10 in data)
print(20 in data)
print(type(data))

True
True
<class 'tuple'>

In [37]:
## question 11
lyst = [2,4,5,6,7,8]
new_tuple = tuple(lyst)
print(new_tuple)
print(type(new_tuple))

(2, 4, 5, 6, 7, 8)
<class 'tuple'>

In [39]:
## question 12
data = (2,3,4,5,6,78,32)
data1 = list(data)
## remove 3 from data 
data1.remove(3)
data2 = tuple(data1)
print(data2)

(2, 4, 5, 6, 78, 32)

In [40]:
## question 13
data = (2,3,4,5,7,6,5,43,1,23,45,5)
new_data = data[3:8]
## sliced data
print(new_data)

(5, 7, 6, 5, 43)

In [42]:
## question 14 
data = (2,3,4,5,6,7,8,9)
## finding index number of 6
print(data.index(6))

4

In [43]:
## question 15
data = (2,3,4,5,6)
## finding the length of tuple
data1 =len(data)
print(data1)

5

In [47]:
## question 16
data = (("name","sahil"),("age",24),("city","pune"),("mark",86))
data1 = dict(data)
print(data1)

{'name': 'sahil', 'age': 24, 'city': 'pune', 'mark': 86}

In [48]:
## question 17
list_data = [(10,20,3),(20,40,50),(30,60,70)]
unzipped = list(zip(*list_data))
print(unzipped)

[(10, 20, 30), (20, 40, 60), (3, 50, 70)]

In [51]:
## question 18
my_data = (10,23,345,567)
t = sorted(my_data,reverse=True)
print(t)

[567, 345, 23, 10]

In [55]:
## question 19
data =[("name","ash"),("name","ram"),("age",23),("gender","female"),("age",25),("gender","male")]
result = {}
for key,value in data:
    if key in result:
        result[key].append(value)
    else:
        result[key] = [value]
print(result)

{'name': ['ash', 'ram'], 'age': [23, 25], 'gender': ['female', 'male']}

In [56]:
## question 20
fruits_name = ("watermelons","strawberries","banana","mango","orange","grapes","apples")
print(f"fruits {fruits_name}")

fruits ('watermelons', 'strawberries', 'banana', 'mango', 'orange', 'grapes', 'apples')

In [57]:
## quesiton 21
Tuple = (34)
print(Tuple)
print(type(Tuple))

34
<class 'int'>

In [58]:
## question 22
data = (10,20,30,40,50)
for i in data:
    print(i)

10
20
30
40
50

In [61]:
## question 23
a = (10,)
b = (20,)
A = b
B = a
print("swap a :",A)
print("swap b :",B)
print(type(A))

swap a : (20,)
swap b : (10,)
<class 'tuple'>

In [62]:
## question 24
data = (1,2,3,4,5,6,7,8,9,10)
new_tuple = data[2:7]
print("the new tuple set is :",new_tuple)

the new tuple set is : (3, 4, 5, 6, 7)

In [63]:
## question 25
data = (10,20,30,33,40,50,60)
data1 = list(data)
## modifying the tuple and adding the new number to its set that is 45 
data1[3]= 45
data2 = tuple(data1)
print(data2)

(10, 20, 30, 45, 40, 50, 60)

In [66]:
## question 26
data = (('a',43),('b',34),('c',56),('d',98))
data1 =sorted(data,reverse=True)
print(data1)

[('d', 98), ('c', 56), ('b', 34), ('a', 43)]

In [67]:
## question 27
data = (10,20,30,60,50,30,40,30)
count_30 = data.count(30)
print("the count of 30 is :",count_30)

the count of 30 is : 3

In [72]:
## question 28
set_A = (1,2,3)
set_B = (4,5,6)
set_C = (3,7,6)

sum_ele = set_A[0]+set_B[0]+set_C[0]
sum_ele1 = set_A[1]+set_B[1]+set_C[1]
sum_ele2 = set_A[2]+set_B[2]+set_C[2]

print("the sum of element wise is :",sum_ele,sum_ele1,sum_ele2)

the sum of element wise is : 8 14 15

In [1]:
## question 31
tuple_set = [(47,34),(3,45),(47,89),(23,645)]
k=2
result = [a for a in tuple_set if all(isinstance(elem,int) and len(str(elem)) == k for elem in a)]
print(result)

[(47, 34), (47, 89)]

In [2]:
## question 32
tuple_set = [(18,23),(2,9),(23,18),(19,45),(4,6),(45,19)]
result = set()
for a in tuple_set:
    reverse_tuple = (a[1],a[0])
    if reverse_tuple in tuple_set:
        result.add(a)
print("the reverse set is :",result)

the reverse set is : {(23, 18), (18, 23), (19, 45), (45, 19)}

In [13]:
## question 33

tuple_list = [(4,5,5,2),(18,4,6,7),(23,12,3,5),(17,4,2,6)]
result= sorted(tuple_list, key=lambda x:max(x),reverse = True)
print(result)

[(23, 12, 3, 5), (18, 4, 6, 7), (17, 4, 2, 6), (4, 5, 5, 2)]

In [14]:
## question 34
lyst = (10,20,(30),40,(50,60,70),80,90)
result = tuple(item for item in lyst if not isinstance(item,tuple))
print(result)

(10, 20, 30, 40, 80, 90)

In [15]:
## question 35
lyst = [(1,3,4),(4,5,7),(7,8,9)]
unique = set()
for a in lyst:
    for element in a:
        unique.add(element)
unique_list = list(unique)
print(unique_list)

[1, 3, 4, 5, 7, 8, 9]

In [19]:
## question 37
tple1 = (12,13,16,17)
tple2 = (10,3,6,7)
nested_tple = (tple1,)
nested_tple1 = (tple2,)
result = nested_tple +nested_tple1
print(result)

((12, 13, 16, 17), (10, 3, 6, 7))

In [20]:
## question 38
lyst = [(2,4),(5,7),(9,6),(4,6),(8,7)]
result = sorted(lyst,key =lambda x:min(x))
print(lyst)

[(2, 4), (5, 7), (9, 6), (4, 6), (8, 7)]

In [21]:
## question 39
lyst = ([20,34,23],[29,43,25],[40,56,87],[10,3,2])
sorted_list = tuple(sorted(a) for a in lyst)
print(sorted_list)

([20, 23, 34], [25, 29, 43], [40, 56, 87], [2, 3, 10])

In [23]:
## question 40
lyst = [('B',23),('C',45),('A',24),('D',78)]
sorted_lyst = sorted(lyst,reverse = False)
print(sorted_lyst)

[('A', 24), ('B', 23), ('C', 45), ('D', 78)]

In [ ]:
## question 41

In [24]:
## question 42
import math
tuple_list = [(23, 18), (9, 2), (2, 3), (9, 18), (23, 2)]

given_tuple = (20, 2)
k = 1
closest_tuple = None
closest_distance = float('inf')

for tup in tuple_list:
    distance = math.sqrt((given_tuple[0] - tup[0])**2 + (given_tuple[1] - tup[1])**2)
    if distance < closest_distance:
        closest_distance = distance
        closest_tuple = tup

print("Given Tuple =", given_tuple)
print("Kth Element Index =", k)
print("Nearest Tuple:", closest_tuple)

Given Tuple = (20, 2)
Kth Element Index = 1
Nearest Tuple: (23, 2)

In [2]:
## questoin 43
lyst1 = [(3,2),(4,7),(6,8),(5,4)]
lyst2 = [(6,8),(2,9),(3,2),(9,5)]
set1 = set(lyst1)
set2 = set(lyst2)
intersection_set = set1.intersection(set2)
result = list(intersection_set)
print("the common element are :",result)

the common element are : [(6, 8), (3, 2)]

In [3]:
## question 44
lyst1 = [('A',3),('B',8),('S',9),('E',7)]
lyst2 = [('F',5),('A',3),('S',9),('W',2)]
set1 = set(lyst1)
set2 =set(lyst2)
intersection_set = set1.intersection(set2)
result = list(intersection_set)
print("the common element are :",result)

the common element are : [('S', 9), ('A', 3)]

In [7]:
## question 45
lyst = [(3,4),(1,2),(4,3),(7,6),(2,9)]
set1 = [frozenset(a) for a in lyst]
unique_set = set(set1)
set_count = len(unique_set)
print("the unique set is :", set_count)

the unique set is : 4

In [ ]:
## question 48
tple1 = (10,4,6,9)
tple2 = (5,2,3,3)